@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Poppins|Rubik&display=swap');
@import '~bootstrap/scss/bootstrap.scss';
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.btn.btn-primary {
    margin-left: 10px;
    margin-top: 20px;
}

#list-group {
    display:flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
}

img{
    width:225px;
    height: 260px;
}

.text-center {
    font-size: 45px;
}

.d-flex.flex-row{
    margin-top: 10px;
    width: 225px;
    height: 200px;
}

.about-us{
    margin: auto;
    width: 70%;
    padding: 10px;
}

form {
    border: 1px solid #ccc !important;
    padding: 2rem !important;
    font-family: 'Poppins', sans-serif;
    -webkit-box-shadow: 0 8px 6px -6px rgba(255,255,255, 0.5);
    -moz-box-shadow: 0 8px 6px -6px rgba(255,255,255, 0.5);
    box-shadow: 0 8px 6px -6px rgba(255,255,255, 0.5);
}

#about .card {
    margin-bottom: 6vh;
    margin-left: 8vh;
    min-height: 10vh;
}
.mt {
    margin-top: 8vh;
}

.special {
    color: #CDDC39;
}

.tenant-btn {
    padding-right: 1vh;
    float: right;
}

.form-signin .fa-parachute-box {
    font-size: 80px;
    margin-left: 16vw;
    color: #6f42c1;
}

.page-logo {
    font-size: 26px !important;
}

.tenantEdit, .tenantCreate {
    width:50%;
    margin:10vh auto;
}

.tenantEdit h3, .tenant h3 {
    margin-top: 6vh;
}

.fa-user-times {
    color: red;
    font-size: 18px;
}

.fa-user-edit {
    color: green;
    font-size: 18px;
}

.fa-camera {
    display: none;
}

.tenant {
    font-size: 18px;
    letter-spacing: 0.1em;
}

/* Four Need Media queries */
#tenant-header-name {
    font-size: 18px;
    letter-spacing: 0.1em;
    /*margin-left: 27vw;*/
    font-weight: 500;
}

#tenant-header-apt {
    font-size: 18px;
    letter-spacing: 0.1em;
    /*margin-left: 1.3vw;*/
    font-weight: 500;
}

#tenant-header-action {
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: 500;
}


.camera-border{
  position: relative;
  height: 290px;
  overflow: hidden;
}
.camera {
  position: absolute;
  top: -99px;
  height: 480px;
}

#qr-results, #cam-qr-result {
    max-width: 380px;
}

#email-status {
    margin-top: 4vh;
}
/* Need Media query */
.fa-user-plus {
    position: absolute;
    top: 500px;
    left: 73vw;
    font-size: 35px;
}

#scan-results {
    margin-left: 6vw;
}
.hide {
    display:none;
}

.header-bar {
    width: 30%;
    height: 4px;
    margin-bottom: 2vh !important;
    margin-left: 2vh !important;
    // background-image: url(assets/hr-img.png);
    background-size: 3px;
    background-repeat: repeat;
}


#register, #all-tenants, #login, #scan-package, #about {
  position: relative;
  margin-top: 14vh;
}
#register h3, #all-tenants h3, #about h3 {
    font-family: 'Rubik', sans-serif;
    margin-bottom: 3vh;
    font-size:2.5rem;
    line-height:1;
    font-weight: 300;
}

.form-signin {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.form-signin h3 {
    font-family: 'Rubik', sans-serif;
    margin-bottom: 3vh;
    font-size:2rem;
    line-height:1;
    font-weight: 300;
}

#login {
    padding: 1vh;
}

#login-btn {
    margin-top: 4vh;
}


/* Need Media query */
#landing-page {
    min-height: 30rem;
    position: relative;
    display: inline-block;
    width: 100%;
    height:100vh;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,-.9)),to(rgba(255,255,255,-.9))),url(https://www.safewise.com/app/uploads/iStock-897218392.jpg);
    background: linear-gradient(90deg,rgba(255,255,255,-.9) 0,rgba(255,255,255,-.9) 100%),url(https://www.safewise.com/app/uploads/iStock-897218392.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#landing-content {
    color: #fff;
    margin-top: 25vh;
    margin-left:5vh;
}

#landing-content h2 {
    font-family: 'Poppins', sans-serif;
    font-size:2.2rem;
    line-height:1;
    font-weight: 300;
}

#landing-content p, #landing-content a {
    font-size:18px;
    line-height:1;
}

#landing-content p {
    letter-spacing: 0.1rem;
}

#scan-results label, #scan-results input {
    margin-left: 6vw !important;
}


@media only screen and (min-width : 475px) {
  #landing-content {
        margin-left: -1vh;
    }

    .form-signin .fa-parachute-box {
        margin-left: 29vw;
    }
    .tenantEdit button, .tenantCreate button {
        width: auto;
    }
    .tenantEdit, .tenantCreate {
        width: 100%;
    }

    .tenant-btn {
        padding-right: 0.5em;
    }

    #scan-results {
        margin-left: 0vw;
    }
    #email-status, .card {
        width: 28rem !important;
    }

    #scan-results label, #scan-results input {
        margin-left: 0vw !important;
    }
}

@media only screen and (min-width : 644px) {

    #email-status, .card {
        width: 30rem !important;
        margin: 0;
    }
    .form-signin .fa-parachute-box {
        margin-left: 20vw;
    }

    #scan-results label, #scan-results input {
        margin-left: 0vw !important;
    }
}

@media only screen and (min-width : 768px) {
            #landing-content {
                margin-left: 0vh;
                margin-top: 28vh;
            }
            .tenantCreate button {
                margin-left: 38vw;
            }
            .form-signin .fa-parachute-box {
                  margin-left: 18vw;
            }

             #email-status, .card {
                width: 25rem !important;
                margin:0;
             }

             #scan-results label, #scan-results input {
                 margin-left: 0vw !important;
             }
}

@media only screen and (max-width : 1000px) {
     *,
     *::before,
     *::after {
       box-sizing: content-box !important;
     }
}

@media only screen and (min-width : 1000px) {
     #email-status, .card {
          width: 22rem !important;
          margin:0;
     }

     #tenant-header-apt {
        margin-left: 0;
     }

     .form-signin .fa-parachute-box {
         margin-left: 12.5vw;
      }

     .tenantEdit button, .tenantCreate button {
         margin-left: 0vw;
     }
}